# A first workflow to play around with the editor
name: My First Workflow
on:
  push:
    branches: 
      - main
  workflow_dispatch:
jobs:
  first_job:
      name: My first job
      runs-on: ubuntu-latest
      steps:
      - name: Greet the user
        run: |
          echo "Hello ${{ vars.WHO_TO_GREET }} from ${{ github.actor }}"
          echo " my secret ${{ secrets.MY_SECRET }}"
      - name: checkout repo
        uses: actions/checkout@v4
      - name: list files
        run: tree
        
